<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened="true">
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">desktop_mac</i>
      </button>
    </div>
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">&#xE8B6;</i>
      </button>
    </div>
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">&#xE152;</i>
      </button>
    </div>
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">&#xE150;</i>
      </button>
    </div>
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">&#xE913;</i>
      </button>
    </div>
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">&#xE56B;</i>
      </button>
    </div>
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">&#xE917;</i>
      </button>
    </div>
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">&#xE84E;</i>
      </button>
    </div>
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">&#xE161;</i>
      </button>
    </div>
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">&#xE5D2;</i>
      </button>
    </div>
    <div class="button-row">
      <button mat-button>
        <i class="material-icons">&#xE8B8;</i>
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

